@model TennoLink.ViewModels.TennoLinkViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tenno Link</h1>
    <p class="lead">Something</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Message of The Day</h2>
        <div>
            @Model.Motd
        </div>
    </div>
</div>